.header {
    

}
.header__link--item {
    margin-top: 0%;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    text-transform: capitalize;
}

.header__links {
    list-style: none;
    
}

.chair {
    width: 20rem;
    height: 20rem;
    border-radius: 5px; 
    margin-top: 3rem;
}
.row {
    background-color: rgb(124, 122, 122);
    margin: auto;
}
.col-1-of-4 {
    display: flex;
    margin-top: 1rem;
}